*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{

}
#logo{
    width: 150px;
    height: 100px;
    object-fit: contain;
}
.bg-img{
    background-image: url(images/bg-img.jpg);
    min-height: 680px;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    position: relative;
    filter:  brightness(75%);
}
header{
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  padding:1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(138, 43, 226,0.4);
}
.logo{
  font-weight: bold;
  font-size:30px;
  text-decoration: none;
}
nav a{
  text-decoration: none;
  font-size:20px;
  color:#fff;
  margin-left:15px;
}
nav a:hover{
  color:black;
  text-shadow: 2px 2px 6px white;
  transition: .3s  ease-in-out;
}
#check{
  display: none;
}
.icons{
  display: none;
  font-size:30px;
  cursor: pointer;
}
.main-title{
  position:absolute;
  top:40%;
  right: 40%;
  font-size:50px;
  font-weight: 900;
  letter-spacing: 10px;
  color:rgb(208, 236, 25);
  z-index: 1;
  
}
/*BREAK POINT*/
@media (max-width:992px){
  header{
      padding:1.3rem 5%;
  }

}
@media (max-width:768px){
  .icons{
      display: inline;
  }
  #check:checked~.icons #menu-icon{
      display:none;
  }
  .icons #close-icon{
      display: none;
  }
  #check:checked~.icons #close-icon{
      display:block;
  }
  .icons{
      display: inline-flex;
  }
  nav{
      position:absolute;
      top:100%;
      left:0;
      height: 0;
      width: 100%;
      background:rgba(0, 0, 0, .1);
      backdrop-filter: blur(50px);
      box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  #check:checked~ nav{
      height: 17.7rem;
  }
  nav a{
      display: block;
      font-size:1.1rem;
      margin:1.5rem 0;
      text-align: center;
      transform: translateY(-50px);
      opacity: 0;
      transition: .3s ease;
  }
  #check:checked~nav a{
      transform: translateY(0);
      opacity: 1;
      transition-delay: calc(.15s * var(--i));
  }
}